<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <link rel="dns-prefetch" href="//fonts.googleapis.com">
    <link rel="dns-prefetch" href="//www.my-topup.store">
    <link rel="dns-prefetch" href="//cdn.jsdelivr.net">

    <link rel="preconnect" href="//www.my-topup.store">
    <link rel="assets" href="//www.my-topup.store">

    <link rel="sitemap" type="application/xml" title="Sitemap" href="https://www.my-topup.store/sitemap.xml">
	<link rel="canonical" href="https://www.my-topup.store"/>
	<!-- Favicons -->
  	<link href="//www.my-topup.store/favicon.ico" rel="icon">
  	<link href="//www.my-topup.store/favicon.ico" rel="apple-touch-icon">

    <meta property="og:url"content="https://www.my-topup.store" />
    <meta property="og:type"content="website" />
    <meta property="og:locale"content="id-ID" />
    <meta property="og:locale:alternate"content="en-us" />
    <meta property="og:site_name"content="My Topup" />
    <meta  property="og:image" itemprop="image" content="https://www.my-topup.store/assets/img/favicon.webp" />
    <meta property="og:image"content="//www.my-topup.store/assets/img/favicon-300x200.webp" />
    <meta property="og:image:url"content="//www.my-topup.store/assets/img/favicon-300x200.webp" />

        <!--Bootstrap css-->
    <link rel="stylesheet" href="//www.my-topup.store/assets/css/bootstrap.min.css">
    <!--Themify icon css-->
    <link rel="stylesheet" href="//cdn.jsdelivr.net/gh/lykmapipo/themify-icons@0.1.2/css/themify-icons.min.css">
    <!--animated css-->
    <link rel="stylesheet" href="//www.my-topup.store/assets/css/animate.min.css">

    <!--custom css-->
    <link rel="stylesheet" href="//www.my-topup.store/assets/css/style.css">
    <!--responsive css-->
    <link rel="stylesheet" href="//www.my-topup.store/assets/css/responsive.css">
    <!--google fonts-->
    <link href="//www.my-topup.store/assets/css/fonts.css" rel="stylesheet">

    <style>.bf-se {background: url('//www.my-topup.store/assets/img/layout/footer-bg.webp')no-repeat center top / cover;}</style>

    
</head>