<head>
	
	<title>Social Media Engagement - My Topup Store</title>
    <meta name="description" itemprop="description" content="Social Media Engagement - Jasa Social Media & Digital Marketing Indonesia dengen harga terjangkau" />
    <meta name="keywords" content="social media, social media marketing, digital merketing, followers, instgram followers free - My Topup" />

    <meta property="og:description"content="Social Media Engagement - my-topup.store" />
    <meta property="og:title"content="Social Media Engagement - My Topup Store" />

    <meta property="og:image:alt"content="My Topup Store solusi online shop indonesia" />

    <meta name="twitter:card"content="summary" />
    <meta name="twitter:title"content="Social Media Engagement - Jasa Social Media & Digital Marketing Indonesia - my-topup.store" />
    <meta name="twitter:site"content="@my_topup.store" />
    <meta name="twitter:image"content="assets/img/favicon.webp" />
    <meta name="twitter:description" content="Social Media Engagement - Jasa Social Media & Digital Marketing Indonesia dengen harga terjangkau">
    
    <script type="application/ld+json">{"@context":"https://schema.org","@type":"Article","name":"Social Media Engagement - Jasa Social Media & Digital Marketing Indonesia dengen harga terjangkau"}</script>
    <script type="application/ld+json">{"@context":"https://schema.org","@type":"WebPage","name":"Social Media Engagement - Jasa Social Media & Digital Marketing Indonesia dengen harga terjangkau"}</script>
	
	<link href="https://cdn.jsdelivr.net/npm/gridjs/dist/theme/mermaid.min.css" rel="stylesheet" />
	<script src="https://cdn.jsdelivr.net/npm/gridjs/dist/gridjs.umd.js" defer></script>

</head>

<x-include to="layouts/head"></x-include>

<x-include to="layouts/navbar"></x-include>

<div class="main">
	<!--hero section start-->
    <section class="hero-section hero-section-3 ptb-100">
        <!--animated circle shape start-->
        <div class="circles">
            <div class="point animated-point-1"></div>
            <div class="point animated-point-2"></div>
            <div class="point animated-point-3"></div>
            <div class="point animated-point-4"></div>
            <div class="point animated-point-5"></div>
            <div class="point animated-point-6"></div>
        </div>
        <!--animated circle shape end-->
        <div class="container" id="animation-area-1">
            <div class="row align-items-center justify-content-center">
                <div class="col-12 col-md-9 col-lg-7 col-xl-6">
                    <div class="hero-content section-title text-center text-lg-left my-5 mt-lg-0">
                        <span class="text-uppercase color-secondary font-weight-bold">SME</span>
                        <h1 class="font-weight-bold">Social Media Engagement</h1>
                        
                        <div class="action-btn mt-4">
                            <a href="#read" class="btn solid-btn">Harga & Detail</a>
                        </div>
                    </div>
                </div>
                <div class="col-9 col-md-7 col-lg-5 offset-xl-1 align-self-sm-end">
                    <div class="hero-img position-relative">
                        <div class="image-bg-positioning">
                            <img src="//www.my-topup.store/assets/img/details-1.webp" alt="" class="img-fluid">
                        </div>
                        <div class="animation-item d-none d-md-block d-lg-block">
                            <div class="p-4 w-75 rounded-custom d-flex white-bg hero-animated-card-1">
                                <p class="gr-text-11 mb-0 text-mirage-2">“Wah udah murah, kualitas nya mantep banget lagi”</p>
                                <div class="small-card-img ml-3">
                                    <img src="/assets/img/people/team-2.webp" alt="My Topup Store" width="80px" class="rounded-circle img-fluid">
                                </div>
                            </div>
                            <div class="p-4 w-75 rounded-custom d-flex secondary-bg hero-animated-card-2">
                                <div class="small-card-img mr-3 text-white">
                                    <img src="//www.my-topup.store/assets/img/people/team-5.webp" alt="My Topup Store" width="80px" class="rounded-circle img-fluid">
                                </div>
                                <p class="gr-text-11 mb-0 text-white">“Mantep dah, bintang 5 untuk my topup.”</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--hero section end-->


      <!-- ======= App Features Section ======= -->
    <section id="read" class="features ptb-100 gray-light-bg">
      <div class="container">

        <div class="section-title">
        	<span class="text-uppercase color-secondary sub-title">Kami Hadir</span>
   		    <h2>Daftar Layanan</h2>
        </div>

        <div class="row mt-4">
        	<div class="col-12">
				<div id="servicesTable"></div>
        	</div>
        </div>

      </div>
    </section><!-- End App Features Section -->
</div>

<x-include to="layouts/footer"></x-include>

<x-include to="layouts/script"></x-include>
<script src="/dist/pages/sme/index.js" defer></script>
